<div class="center jumbotron">
	<%= form_for(:session, url:login_path) do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br><br>
		<%= f.label :password %><br>
		<%= f.password_field :password %><br><br>
		<%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
	<% end %>
</div>
