<!DOCTYPE html>
<html>
<head>
  <title>ShibuyaLunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
	    <%= link_to "sample app", '#', id: "logo" %>
	    <nav>
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "Home",   '#' %></li>
	        <li><%= link_to "Log in", '#' %></li>
	      </ul>
	    </nav>
    </div>
  </header>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
